{
  "printWidth": 500,
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "never",
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "off"
}