# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# SQLite database (se não quiser versionar)
*.db